<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="cancel()"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Name Checklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed class="grid-login">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-align-self-center ion-text-center" size="12">
        <ion-card mode="ios" color="light" class="ion-no-padding">
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none" color="light">
              <ion-input
                [(ngModel)]="name"
                errorText="Please enter a name checklist"
                placeholder="name checklist"
                clear-input="true"
                class="ion-text-left"
                autocorrect="off"
              >
              </ion-input>
            </ion-item>
          </ion-card-content>
        <ion-card mode="ios" class="ion-no-padding">
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none" button (click)="doSubmit()" style="background-color: #1382b8;">
              <ion-label class="ion-text-center" color="light"
              >Kirim</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

