<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Checklist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card *ngFor="let x of dataChecklist"
(click)="detailDataChecklist(x.id)" >
  <ion-card-header>
    <ion-card-title>
      {{x.name}}
      <p class="ion-text-right" style="margin-top: -25px;">
        <ion-icon class="ion-text-right" slot="end" name="chevron-forward-outline"></ion-icon>  
      </p>
    </ion-card-title>
    <ion-card-subtitle>
      {{x.checklistCompletionStatus}}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{x.items ? '' : 'No items'}}
  </ion-card-content>
  <ion-button expand="block" fill="clear" shape="round" color="danger" (click)="deleteChecklist(x.id)">
    <ion-icon name="trash-outline" color="danger"></ion-icon>
  </ion-button>
</ion-card>
 
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addCheck()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
